.res{
  &-wrap{
    @extend %clearfix;
    margin-top:229px;
  }

  &-section{

  }

  &-images-wrap{
    float:left;
  }

  &-image{

    &-wrap{
      float:left;

      &-big{
        width: 612px;
        height: 399px;

        text-indent: -99999em;
        float:left;
      }
    }
  }

  &-image2{
    &-wrap{
      @extend %clearfix;
      &-small{
        width: 153px;
        height:168px;
        float:left;
        text-indent:-99999em;
      }
    }



  }

  &-explain-wrap{
    width:470px;
    float:right;
  }

  &-text{

    &-wrap{


      &-title{
        font-size:39px;
        padding-bottom:27px;
      }
      &-paragraph{
        font-size:16px;
      }
    }


  }

  &-map-wrap{

    @extend %clearfix;

    margin-top:202px;
    float:left;
  }

  &-map-image{
    width:204px;
    height:189px;

    text-indent: -99999em;
    float:left;

    margin-right:40px;

  }

  &-address{
    width:196px;
    float:left;
  }




}