.japan{
  &:before{
    content:"";
    display:block;
    width:104px;
    height:63px;
    background:url(../images/nation_jp.png) no-repeat 0 0;
    float:left;
    margin:0;
  }
}

.food {

  &-section{
    width:100%;
  }


  &-wrap {
    height: 481px;

    &:after {
      content: "";
      display: block;
    }

    &-image-wrap {
      width: 714px;
      height: 441px;
      float: left;

      &-image {

      }
    }
  }




}

.jp-food-image{
  background:url(../images/b-image.jpg) no-repeat;
  background-attachment: fixed;
}




.jp-res-image{
  background:url(../images/big_image_gm.jpg) no-repeat;
  background-attachment: fixed;
}

.jp-cont-image{
  background:url(../images/b-image3.jpg) no-repeat;
  background-attachment: fixed;
}

.jp-event-image{
  background:url(../images/b-image4.jpg) no-repeat;
  background-attachment: fixed;
}